<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="styles.css">
    <style>
    </style>
</head>
<body>
    <nav>
        <div class="brand">
            <img src="logo.png" alt="logo" height="50" width="50" flow-right>
            Trendy
        </div>
        <ul>
            <li><a href="homepage.html">Home</a></li>
            <li><a href="products.html">Products</a></li>
            <l1><a href="login.html">Login</a></l1>
        </ul>
    </nav>
    </section>
    <center>
    <section class="promo">
       <h1>Welcome to Trendy</h1>
        <img src="promo pic.png" alt="promo" height="400" width="750">
    </section>
    
    <section id>
        <h1 class="h1-size">About Us</h1>
        <p>Trendy is an innovative entrepreneur clothing brand dedicated to combining comfort with style. We believe that apparel should not only look exceptional but also provide unparalleled comfort. Trendy was started to capture the ever-changing trends on social media and mix them with fashion. Our goal is to incorporate the latest media trends with our clothing without you needing to worry about wearability or price.</p>
    </center>
    <section id>
        <h1 class="h1-size">Contact</h1>
        <p>Reach out to me at ayu.melaku@hgs.hiddengeniusproject.org or contact me at 510-759-3449.</p>
    </section>
</body>
</html>
