<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clothing Brand Product Page</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <nav>
        <ul class="nav2">
            <li><a href="homepage.html">Home</a></li>
            <li><a href="products.html">Products</a></li>
        </ul>
        <div class="search-bar">
            <input type="text" placeholder="Search...">
        </div>
    </nav>

    <section class="products-container">
        <div class="product">
            <div class="image-container">
                <a href="tshirt1.html"><img src="product1.jpeg" alt="shirt image"></a>
            </div>
            <div class="details-container">
                <h1>Shirt</h1>
                <p class="price">$24.99</p>
                <p class="description">An awesome shirt</p>
            </div>
        </div>
        <div class="product">
            <div class="image-container">
                <a href="sweater.html"><img src="product2.jpeg" alt="pants image"></a>
            </div>
            <div class="details-container">
                <h1>Jeans</h1>
                <p class="price">$39.99</p>
                <p class="description">Some cool pants</p>
            </div>
        </div>
        <div class="product">
            <div class="image-container">
                <a href="pants.html"><img src="product3.jpeg" alt="hoodie image"></a>
            </div>
            <div class="details-container">
                <h1>Hoodie</h1>
                <p class="price">$39.99</p>
                <p class="description">An awesome hoodie</p>
            </div>
        </div>
        <div class="product">
            <div class="image-container">
                <a href="shorts.html"><img src="product4.jpeg" alt="shorts image"></a>
            </div>
            <div class="details-container">
                <h1>Shorts</h1>
                <p class="price">$24.99</p>
                <p class="description">Some awesome shorts</p>
            </div>
        </div>
    </section>
</body>
</html>
