<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clothing Brand Product Page</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <nav>
        </div>
        <ul class="nav2">
            <li><a href="home.html">Home</a></li>
            <li><a href="products.html">Back to Products</a></li>
        </ul>
        <div class="search-bar">
            <input type="text" placeholder="Search...">
        </div>
    </nav>

    <section class="products-container">
        <div class="product">
            <div class="image-container">
                <img src="product4.jpeg" alt="Product Image">
            </div>
            <div class="details-container">
                <h1>Black Shorts
                </h1>
                <p class="price">$24.99</p>
                <p class="description">Some awesome shorts</p>
            </div>
        </div>
    </section>
</body>
</html>
